{% extends 'base.html' %}
{% load static %}

{% block start %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h4 class="text-center my-3 pb-3">To Do App</h4>

            <form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" enctype="multipart/form-data">
                {%csrf_token %}
              <div class="col-12">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" name="title" id="form1" class="form-control" />
                  <label class="form-label" for="form1">Enter a task here</label>
                </div>
                <div class="col-12">
                <div data-mdb-input-init class="form-outline">
                  <input type="date" name="date" id="form2" class="form-control" />
                  <label class="form-label" for="form2">Enter Deadline</label>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Save</button>
              </div>

              <div class="col-12">
              
              </div>
            </form>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    {% for todo in todos %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.date }}</td>
                    <td>
                     <a href="{% url 'complete_todo' todo.id %}" class="btn {% if todo.is_completed %}btn-warning{% else %}btn-success{% endif %}">
      {% if todo.is_completed %}Mark Pending{% else %}Mark Complete{% endif %}
    </a>
                 <td>
  <div class="d-flex gap-5">
   <form method="POST" action="{% url 'delete_todo' todo.id %}" >
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-danger m-2">Delete</button>
                                </form>
                              
    <a href="{% url 'update_todo' todo.id %}" class="btn btn-primary">Update</a>
  </div>
</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock %}
